<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Features</title>
    <link rel="icon" href="{{ url_for('static', filename='wyzard_favicon.png') }}" type="image/x-icon">
    <style>
        body {
            font-family: Arial, sans-serif;
            margin: 0;
            padding: 20px;
            padding-bottom: 80px;
            background-color: #e0e0e0;
            color: #121212;
        }
        .placeholder-container {
            display: flex;
            justify-content: center;
            align-items: center;
            height: 80vh;
            text-align: center;
            font-size: 24px;
        }
    </style>
</head>
<body>
    <div class="placeholder-container">
        Placeholder
    </div>
</body>
</html>
